---
layout: default
title: Home
---

<div class="home">
  <h1>{{ site.title }}</h1>
  <p>{{ site.description }}</p>

  <h2>Writing</h2>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title }}
          </a>
        </h3>
        {% if post.excerpt %}
          <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
